* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
}

.container {
  width: 600px;
  height: 500px;
  /* border: 1px solid aliceblue; */
  padding: 100px 50px;
  background-color: #1f2937;
  border-radius: 10px;
}

.sub {
  font-size: 20px;
  margin-bottom: 50px;
}

.length {
  display: flex;
  align-items: center;
}

input {
  width: 40px;
  height: 30px;
  margin-right: 10px;
  text-align: center;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.numbers,
.symbols {
  display: flex;
  align-items: center;
}

.tumbler {
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 50px;
  background-color: #40536d;
  position: relative;
  margin-right: 10px;
  display: flex;
  cursor: pointer;
}

.tumbler-active {
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 50px;
  background-color: white;
  position: relative;
  margin-right: 10px;
  display: flex;
  cursor: pointer;
}

.circle {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background-color: #687b96;
  position: absolute;
  top: 3px;
  left: 3px;
}

.circle-active {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background-color: #4adf86;
  position: absolute;
  top: 3px;
  right: 3px;
  transition: all 0.5s ease-in-out;
}

.btn {
  color: white;
  font-size: 16px;
  margin-bottom: 15px;
  width: 190px;
  height: 42px;
  padding: 9px 17px 9px 15px;
  background-color: #4adf86;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 70px;
  display: block;
}

.passwords {
  display: flex;
  justify-content: space-between;
}

.password {
  width: 240px;
  height: 40px;
  background-color: #273549;
  border-radius: 6px;
  border: 1px solid aliceblue;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #55f991;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

h1 span {
  color: #4adf86;
}
